@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html{
  scroll-behavior: smooth;
}
:root {
  --white: #fff;
  --black: #111;
  /* --blue: #3a80e9;  */
  --blue: #35b1ce;

  /* #23BDE0  #008FFC */
  --grey: rgb(168, 168, 168);
  /* --darkgrey: #959595; */
  --darkgrey:#000505;
  
  --green: #00bd4c;
  --red: #f94141;
  --darkblack: #000000;
  --blue1:#060f12;
  --blue2:#041217;
  --blue3:#0a191f;
}

[data-theme="dark"] {
  --white: #fff;
  --black: #111;
  --grey: #888;
  /* --darkgrey: #1b1b1b; */
  --darkgrey:#000505;

}

[data-theme="light"] {
  --white: #111;
  --black: #fff;
  --grey: #888;
  --darkgrey: #f3f3f3;
  --blue1:#ffff;
  --blue2:#ffff;
  --blue3:#ffff;

  
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,var(--blue1), var(--blue2), var(--blue3));
  color: var(--white);
  overflow-x: hidden;
  /*  min-height: 150vh; */
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}

/* CSS */
.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: var(--blue);
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
}

.cursor-pointer {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 1.5rem;
  width: 1.5rem;
  transition: all 400ms ease-out;
}
